<mat-toolbar color="primary">
  <div class="title" href="/">{{ title }}</div>

  <div class="toolbar-spacer"></div>


  <div *ngIf="profile" style="margin-right: 20px"> 
    <img style="margin-bottom: -20px" class="rounded" [src]="imageToShow" alt="Place image title"
      onerror="this.onerror=null;this.src='./assets/images/user_placeholder_img.jpg';"
      *ngIf="!isImageLoading; else noImageFound" />
  </div>
  <div *ngIf="profile" style="margin-right: 20px">{{profile.userPrincipalName}}</div>
  <button mat-raised-button *ngIf="!loggedIn" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="loggedIn" (click)="logout()">Logout</button>
</mat-toolbar>
<div class="container">

  <ng-template #noImageFound>
    <img src="./assets/images/user_placeholder_img.jpg" alt="Fallbackimage" />
  </ng-template>
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>